$menu-color: #3d3d3d;

@mixin header-link($hover: true) {
    color: $menu-color;
    text-decoration: none;
    letter-spacing: 2px;

    @if $hover {
        &:hover{
            border-bottom: solid 2px $menu-color;
            transition: ease 1s all;
        }
    }

}

.header {
    background-color: #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;

    &__logo {
        @include header-link(false);
    }

    &__nav-list {
        display: flex;
        list-style: none;
        column-gap: 20px;
    }

    &__item-link {
        @include header-link;

        &--is-active{
            border-bottom: solid 2px $menu-color;
        }
    }
}